h1 {
    text-align: center;
    
}

body {
    background: linear-gradient(rgb(36, 158, 52),rgb(184, 248, 184));

margin: 40px;
}

.perfil {
    max-width: 400;
    border: 5px solid white;
    border-radius: 650px;
    box-shadow: 5px 5px 5px black;
}
h2 {
    color: rgb(5, 61, 5)
}
h3 {
    color:black
}
input[type="text"], input[type="email"], input[type="number"] {
    min-width: 100px;
    min-height: 30px;
    margin-bottom: 5px;
    border-radius: 10px;
    border: 2px white solid;
}
input[type="text"]:hover, input[type="email"]:hover, input[type="number"]:hover {
    border: 2px black solid;
    box-shadow: 5px 5px 5px #1da322;
}

a:hover {
    text-shadow: 5px 5px 5px;
    color: red;
}

.button {
    background-color: #4CAF50; color: white; padding: 15px 32px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 4px 2px; cursor:pointer; border-radius: 4px; box-shadow: 5px 5px 5px black; cursor: pointer;} 

.cancel {
    
        background-color: #054f07; color: white; padding: 15px 32px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 4px 2px; cursor:pointer; border-radius: 4px; box-shadow: 5px 5px 5px black; cursor: pointer;}


.button:hover {
    border: #555 2px solid;
    box-shadow: 5px 5px 5px #555;
    color: greenyellow;
    background-color: rgb(25, 163, 94);
}

table {
    border-collapse: collapse; width: 100%;
     
}

